/*CABEÇA*/
body {
    min-height: 100vh;
    background: linear-gradient(180deg, #a6a6a6, #ffffff);
    margin: 0;
    color: black;
    overflow-x: hidden;
    overflow-y: auto;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.cabeca{
    background-color: rgb(0,0,0,0.1);
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cabeca>img{
    height: 25px;
    cursor: pointer;
}

/*CORPO INDEX.HTML*/
.inicio{
    display: flex;
}
.inicio>p{
    background-color: #a6a6a6;
    padding: 15px;
    cursor: pointer;
}
.iniciotipos{
    top: 20%;
    left: 50%;
    transform: translate(35%,50%);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cell{
    background: rgb(0,0,0,0.1);
    border-radius: 15px;
    width: 210px;
    margin: 15px;
    padding: 10px;
}
#mobile{
    display: flex;
    top: 20%;
    left: 50%;
    transform: translate(28%,0);
    cursor: pointer;
}
/*///////////////////////////////////////////////////////////////////////////////*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
@media (max-width:960px) {
    .cabeca{
        font-size: 14px;
    }
    .cabeca>img{
        height: 14px;
    }
}
/*.relogioimg {
 

}*/

.tituloshop{
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 200px;          
    
}
/*//////////Eletrodomesticos.html/////////////*/



/*////Shop.html/////////////*/

.shopItem{
    background-color: rgb(0,0,0,0.1);
    width: 250px;
    border-radius: 15px;
    align-items: center;
    margin: 15px;
    padding: 5px;
}
.shopItem>a>img{
    height: 200px;
}
.itens{
    display: flex;
}
/*///////monitores//////////////*/

.melhorParte{
    display: flex;
}
.m